<div *ngIf="telefon">
  <h2>Telefon Details</h2>
  <ul>
    <li><strong>Producent:</strong> {{ telefon.producent }}</li>
    <li><strong>Model:</strong> {{ telefon.model }}</li>
    <li><strong>Rok Produkcji:</strong> {{ telefon.rok_produkcji }}</li>
    <li><strong>IMEI:</strong> {{ telefon.imei }}</li>
    <li><strong>System:</strong> {{ telefon.system }}</li>
    <li><strong>Cale Ekranu:</strong> {{ telefon.cale_ekranu }} cali</li>
    <li><strong>RAM:</strong> {{ telefon.ram }} GB</li>
  </ul>
</div>
